#textdomain wesnoth-war_and_home

[scenario]
    id = 10b_Unexpected_End
    name = _ "Unexpected End"
    next_scenario = null
    turns = 1
    {NO_MAP_DATA}

    {MUSIC_45}

    # Setup
    [event]
        name=prestart

        #ifdef HARD
        [progress_achievement]
            content_for = war_and_home
            id = War_And_Home_Hard
            amount = -1
            limit = $campaign_counter_hard
        [/progress_achievement]
        #endif

        [endlevel]
            result = victory
            bonus = no
            carryover_percentage = 100
            carryover_add = yes
            carryover_report = no
            linger_mode = no
        [/endlevel]
    [/event]

################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side = 1
        controller = human
        team_name = 1
        save_id = MC
        user_team_name = _ "Wesnoth"

        {MC}
    [/side]

    # wmllint: skip-side
    {MP_SIDE 2 (
        controller = human
        team_name = 1
        user_team_name = _ "Wesnoth"

        {CF}
    )}

    ################################################################################
    #                  Story Stuff (full window stuff and bigmap)                  #
    ################################################################################

    [story]
        [part]
            story = _ "Against all odds, Turod and Oweomyr's desperate rearguard action against the orcs led to the death of great chief Vrodar and, after a few months of infighting, the collapse of their invasion force.

This unimaginable opportunity was used to its full effect, as the armies of Wesnoth and elvenkind pursued the orcs back to the Far North."
        [/part]
        [part]
            story = _ "Whether Turod and Oweomyr succeeded by force of arms, well-honed tactics, or through divine intervention would never be known, for the orcs made sure to kill all in retribution.

However, this did little to dampen the enthusiasm with which the bards told of this valiant battle, for there had come two new legends to stand in the pantheon of history's heroes."
        [/part]
        [part]
            story = _ "The others did their part in this tale, leading the counterattack while protecting the civilians, including Caror, who rejoined the main army at Merlyc with other elven survivors.

They all fought courageously, and well earned the peace that came.

Though sadness and longing filled their hearts at the thought of those they had lost and would never see again, they kept diligently to their duties, all the better to ensure that the lives lost would be well-spent."
        [/part]
    [/story]

[/scenario]
