#textdomain wesnoth-war_and_home

# How to make a glorified waiting room...
# Goal is to catch people when they reach the current campaign end and then send
# them here as a buffer scenario that points to itself (itself being updated at
# when an update comes out)

[scenario]
    id = 11_Mourn_Later
    name = _ "The Last Shore"
    next_scenario = 11_Mourn_Later
    map_data="{~add-ons/war_and_home/maps/X1_The_Last_Shore.map}"
    turns = 1
    victory_when_enemies_defeated = no

    {MIDNIGHT_HOUR}

    # Setup
    [event]
        name = prestart

        # Objectives
        [objectives]
            [objective]
                condition = win
                description = _ "End the turn"
            [/objective]
            {CARRYOVER_INFO_DIALOGUE}
        [/objectives]
    [/event]

################################################################################
#                               Sides definition                               #
################################################################################

    [side]
        side = 1
        controller = human
        team_name = 1
        user_team_name = _ "Wesnoth"

        {MC}
        x = 5
        y = 2

        [unit]
            id = WMDream
            type = White Mage
            profile = "portraits/mornchild.png"
            gender = female
            name = _ "Elaessa"
            x=4
            y=2
        [/unit]

        gold = 0
    [/side]

    {MP_SIDE 2 (

        {MC}
        x = 1
        y = 1
        
        gold = 0
    )}

################################################################################
#                  Story Stuff (full window stuff and events)                  #
################################################################################

    # Story
    [story]
        [part]
            title = _ "<i>Chapter ???
The Last Shore</i>"
        [/part]
    [/story]

    # So it begins
    [event]
        name = start

        [unstore_unit]
            variable = MCStore
            x = 5
            y = 2
        [/unstore_unit]
        [unstore_unit]
            variable = CFStore
            x = 1
            y = 1
        [/unstore_unit]
        [hide_unit]
            id = CF
        [/hide_unit]
        {PLACE_IMAGE "units/transport/boat.png" 4 5}
        [message]
            speaker = MC
            message = _ "(<i>Slowly wakes up on the sand</i>) Ugh... Where am I?"
        [/message]
        [message]
            speaker = WMDream
            message = _ "Oh! Turod, you finally woke up!"
        [/message]
        [message]
            speaker = MC
            message = _ "Yes... Though this only adds a second question, who are you?"
        [/message]
        [message]
            speaker = WMDream
            message = _ "That is an answer for later. As for your first question, this place is called the last shore. It is where some choose to linger before crossing the sea."
        [/message]
        [message]
            speaker = MC
            message = _ "In that case, I must thank you for your vigil."
        [/message]
        [message]
            speaker = narrator
            image = "portraits/humans/royal-warrior.png"
            message = _ "This is currently the end of the campaign. You should save here to continue when new scenarios are added through an update."
        [/message]
    [/event]

    # Turns run out
    [event]
        name = time over
        [message]
            speaker = MC
            message = _ "I think it is time to go."
        [/message]
        [move_unit]
            id = MC
            to_x = 4
            to_y = 4
        [/move_unit]
        [move_unit]
            id = WMDream
            to_x = 3
            to_y = 5
        [/move_unit]
        [message]
            speaker = WMDream
            message = _ "Well then, let us see what is beyond this last shore."
        [/message]
        [hide_unit]
            id = MC
        [/hide_unit]
        [hide_unit]
            id = WMDream
        [/hide_unit]
        [kill]
            id  = MC, CF, WMDream
        [/kill]
        {REMOVE_IMAGE 4 5}
        [move_unit_fake]
            type = Boat
            x = 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14
            y = 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10
            side = 1
        [/move_unit_fake]
        [fire_event]
            name = victory
        [/fire_event]
    [/event]

    {CARRYOVER_EFFECT_DIALOGUE}
[/scenario]