#textdomain wesnoth-war_and_home

[achievement_group]
    display_name = _ "War and Home"
    content_for = war_and_home

    [achievement]
        id = Bandit_Scum
        name = _ "Bandit Scum"
        description = _ "Defeat the enemy in Port Assignment before the end of turns."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-outlaws/highwayman-defend-2.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Against_All_Odds
        name = _ "Against All Odds"
        description = _ "Defeat Great Chief Vrodar in Hold The Line... somehow..."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/orcs/sovereign-attack-1.png~RC(magenta>purple), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-6-royal.png)"
    [/achievement]

    [achievement]
        id = Lives_Well_Spent
        name = _ "Lives Well Spent"
        description = _ "Win Mourn Later before the orcs arrive."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/scenery/temple1.png, 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Settlement_Defence
        name = _ "Another Settlement Needs Your Help"
        description = _ "During A Lone Village, no village within the town is captured and some of the town militia survives."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-peasants/peasant.png, 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Elensefar_Unconquered
        name = _ "Elensefar Unconquered"
        description = _ "No enemy unit enters the city during Elensefar."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/transport/galleon.png~RC(magenta>blue), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Fast_For_a_Dwarf
        name = _ "Fast (For a Dwarf)"
        description = _ "Relieve the siege of Dwarven Doors before Knalgan reinforcements arrive."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/dwarves/lord.png~RC(magenta>green), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    # List of story arcs for achievements
    # 1-2: MC/NG
    # 3-7: EN/EP
    # 8-11: NG/NB
    # 12-17: CF/EA
    # 18-20: NG/EN
    # 21-28: MC/WM/RT (behind)
    # 29-33: HR/ES/WF
    # 34-38: MC/CF
    # 39-43: EP/NB
    # 44: End of campaign (MC/EP)

    [achievement] # Sc 1-2
        id = Story_1
        name = _ "Bright Beginnings"
        description = _ "Take the first steps toward destiny."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/lieutenant-defend.png~RC(magenta>white)~FL(horizontal), -15, -1)~BLIT(/data/add-ons/war_and_home/images/units/human-princess/human-princess.png~RC(magenta>red), 11, -2)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 3-7
        id = Story_2
        name = _ "The Forest's Tears"
        description = _ "Reach Lintanir and escape the fallen city."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/elves-wood/lord.png~RC(magenta>red)~FL(horizontal), -13, -5)~BLIT(data/core/images/units/elves-wood/lady.png~RC(magenta>gold), 9, 3)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 8-11
        id = Story_3
        name = _ "Mourn Later"
        description = _ "Evade the pursuing orcs... though not without paying a price."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-loyalists/grand-knight/grand-knight.png~RC(magenta>blue), -8, -16)~BLIT(/data/add-ons/war_and_home/images/units/human-princess/human-princess.png~RC(magenta>red), -15, 11)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 12-17
        id = Story_4
        name = _ "Boating Trip"
        description = _ "Leave Lintanir in an amphibious fashion."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-loyalists/shocktrooper.png~RC(magenta>blue)~FL(horizontal), -12, -4)~BLIT(data/core/images/units/elves-wood/marksman+female.png~RC(magenta>blue), 13, 2)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 18-20
        id = Story_5
        name = _ "Fight Another Day"
        description = _ "Return to the safety of Wesnoth's heartlands."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/war_and_home/images/units/human-princess/human-princess.png~RC(magenta>red), 11, -2)~BLIT(/data/core/images/units/elves-wood/lord.png~RC(magenta>red)~FL(horizontal), -13, -5)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 21-28
        id = Story_6
        name = _ "Blighted Land"
        description = _ "Travel through the lifeless land, meet new companions and receive a new chance at life."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-magi/white-mage+female-magic-3.png~RC(magenta>red), 11, -1)~BLIT(data/core/images/units/human-loyalists/general.png~FL(horizontal)~RC(magenta>red), -12, 5)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
        # Alternate that adds remnant
        # icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/war_and_home/images/units/remnant/remnant-2.png~RC(magenta>blue), -7, 0)~BLIT(/data/core/images/units/human-magi/white-mage+female-magic-3.png~RC(magenta>red), 11, 5)~BLIT(data/core/images/units/human-loyalists/general.png~FL(horizontal)~RC(magenta>red), -12, 11)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 29-33
        id = Story_7
        name = _ "Return to Wesnoth"
        description = _ "Return to Wesnoth and begin the counterattack."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/monsters/wolf-great.png~RC(magenta>red), 0, 5)~BLIT(/data/add-ons/war_and_home/images/units/avatar.png~RC(magenta>teal), -6, -6)~BLIT(/data/core/images/units/human-outlaws/ranger.png~RC(magenta>red), -26, 9)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 34-38
        id = Story_8
        name = _ "Reunion at Last"
        description = _ "Defend the realm's coast and reunite the groups."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-loyalists/shocktrooper.png~RC(magenta>blue), 10, -7)~BLIT(/data/core/images/units/human-loyalists/general.png~RC(magenta>red), -12, 8)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement] # Sc 39-43
        id = Story_9
        name = _ "Long March to Lintanir"
        description = _ "Head north and free Lintanir from all those who would despoil it."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/human-loyalists/grand-knight/grand-knight.png~RC(magenta>blue), -8, -14)~BLIT(/data/add-ons/war_and_home/images/units/sylph/sylph-melee.png~RC(magenta>blue), -12, 8)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement]
        id = War_And_Home
        name = _ "War and Home"
        description = _ "Defeat Great Chief Vrodar and win the campaign."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(units/human-loyalists/general-leading3.png~RC(magenta>white)~FL(horizontal), -11, 2)~BLIT(units/elves-wood/lady.png~RC(magenta>gold), 11, 4)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement]
        id = War_And_Home_Hard
        name = _ "True Victory"
        description = _ "Complete the campaign on the hardest difficulty."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/war_and_home/images/units/remnant/remnant-2.png~RC(magenta>blue), -2, 1)~BLIT(data/core/images/misc/achievement-frames/frame-6-royal.png)"
        max_progress = 43
    [/achievement]

[/achievement_group]