#textdomain wesnoth-war_and_home

# A derivative of basically every campaign in Battle for Wesnoth
# Specifically the utils/bigmap.cfg file

#define BIGMAP_BASE
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/titlescreen.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define BIGMAP_DRAW STAGE
    [story]
        [part]
            show_title=yes
            {BIGMAP_BASE}
            {STAGE}
        [/part]
    [/story]
#enddef

# The bigmaps

# TYPE will be replaced by NEW when no argument is given (say when it's called
# in a scenario) but OLD when called anywhere where the argument OLD is added
# (say, in BIGMAP_02)
# To be clear, be careful: no newline or space, they'd be included in the
# 'default' argument (which is why it's so squished)
#define BIGMAP_01
#arg TYPE
NEW#endarg
    {{TYPE}_BATTLE 890 532}
#enddef

#define BIGMAP_02
#arg TYPE
NEW#endarg
    {BIGMAP_01 TYPE=OLD}
    {{TYPE}_BATTLE 912 532}
#enddef

#define BIGMAP_03
#arg TYPE
NEW#endarg
    {BIGMAP_02 TYPE=OLD}
    {{TYPE}_JOURNEY 947 511}
    {{TYPE}_BATTLE 982 495}
#enddef

#define BIGMAP_04
#arg TYPE
NEW#endarg
    {BIGMAP_03 TYPE=OLD}
    {{TYPE}_JOURNEY 999 464}
    {{TYPE}_JOURNEY 1015 433}
    {{TYPE}_JOURNEY 1032 402}
    {{TYPE}_BATTLE 1048 371}
#enddef

#define BIGMAP_05
#arg TYPE
NEW#endarg
    {BIGMAP_04 TYPE=OLD}
    {{TYPE}_JOURNEY 1056 339}
    {{TYPE}_JOURNEY 1060 302}
    {{TYPE}_JOURNEY 1064 266}
    {{TYPE}_JOURNEY 1068 230}
    {{TYPE}_JOURNEY 1074 192}
    {{TYPE}_BATTLE 1094 157}
#enddef

#define BIGMAP_06
#arg TYPE
NEW#endarg
    {BIGMAP_05 TYPE=OLD}
    {{TYPE}_BATTLE 1094 157}
#enddef

#define BIGMAP_08
#arg TYPE
NEW#endarg
    {BIGMAP_06 TYPE=OLD}
    {{TYPE}_JOURNEY 1110 194}
    {{TYPE}_JOURNEY 1128 231}
    {{TYPE}_JOURNEY 1144 268}
    {{TYPE}_JOURNEY 1156 305}
    {{TYPE}_JOURNEY 1164 342}
    {{TYPE}_BATTLE 1173 379}
#enddef

#define BIGMAP_09
#arg TYPE
NEW#endarg
    {BIGMAP_08 TYPE=OLD}
    {{TYPE}_JOURNEY 1167 404}
    {{TYPE}_BATTLE 1163 431}
#enddef

#define BIGMAP_10
#arg TYPE
NEW#endarg
    {BIGMAP_09 TYPE=OLD}
    {{TYPE}_BATTLE 1163 431}
#enddef

#define BIGMAP_11
#arg TYPE
NEW#endarg
    {BIGMAP_10 TYPE=OLD}
    {{TYPE}_JOURNEY 1136 431}
    {{TYPE}_JOURNEY 1125 413}
    {{TYPE}_JOURNEY 1101 426}
    {{TYPE}_JOURNEY 1078 441}
    {{TYPE}_BATTLE 1055 452}
#enddef

#define BIGMAP_12
#arg TYPE
NEW#endarg
    {BIGMAP_05 TYPE=OLD}
    {{TYPE}_JOURNEY 1080 131}
    {{TYPE}_BATTLE 1064 108}
#enddef

#define BIGMAP_13
#arg TYPE
NEW#endarg
    {BIGMAP_12 TYPE=OLD}
    {{TYPE}_BATTLE 1091 118}
#enddef

#define BIGMAP_14
#arg TYPE
NEW#endarg
    {BIGMAP_13 TYPE=OLD}
    {{TYPE}_JOURNEY 1119 113}
    {{TYPE}_BATTLE 1141 96}
#enddef

#define BIGMAP_15
#arg TYPE
NEW#endarg
    {BIGMAP_14 TYPE=OLD}
    {{TYPE}_BATTLE 1141 96}
#enddef

#define BIGMAP_16
#arg TYPE
NEW#endarg
    {BIGMAP_15 TYPE=OLD}
    {{TYPE}_JOURNEY 1159 116}
    {{TYPE}_BATTLE 1170 142}
#enddef

#define BIGMAP_17
#arg TYPE
NEW#endarg
    {BIGMAP_16 TYPE=OLD}
    {{TYPE}_JOURNEY 1153 162}
    {{TYPE}_JOURNEY 1145 188}
    {{TYPE}_BATTLE 1120 202}
#enddef

#define BIGMAP_18
#arg TYPE
NEW#endarg
    {BIGMAP_17 TYPE=OLD}
    {{TYPE}_JOURNEY 1093 213}
    {{TYPE}_JOURNEY 1091 234}
    {{TYPE}_JOURNEY 1093 260}
    {{TYPE}_JOURNEY 1103 286}
    {{TYPE}_JOURNEY 1109 314}
    {{TYPE}_JOURNEY 1096 332}
    {{TYPE}_JOURNEY 1082 358}
    {{TYPE}_JOURNEY 1075 386}
    {{TYPE}_JOURNEY 1061 411}
    {{TYPE}_JOURNEY 1044 434}
    {{TYPE}_JOURNEY 1022 453}
    {{TYPE}_JOURNEY 995 469}
    {BIGMAP_11 TYPE=OLD}
    {{TYPE}_BATTLE 982 495}
    {{TYPE}_JOURNEY 1033 471}
    {{TYPE}_JOURNEY 1008 486}
    {{TYPE}_BATTLE 982 495}
#enddef

#define BIGMAP_19
#arg TYPE
NEW#endarg
    {BIGMAP_18 TYPE=OLD}
    {{TYPE}_BATTLE 982 495}
#enddef

#define BIGMAP_20
#arg TYPE
NEW#endarg
    {BIGMAP_18 TYPE=OLD}
    {{TYPE}_JOURNEY 947 511}
    {{TYPE}_REST 912 532}
    {{TYPE}_JOURNEY 901 559}
    {{TYPE}_JOURNEY 879 578}
    {{TYPE}_JOURNEY 852 589}
    {{TYPE}_JOURNEY 824 599}
    {{TYPE}_JOURNEY 797 610}
    {{TYPE}_JOURNEY 772 625}
    {{TYPE}_REST 743 638}
#enddef

#define BIGMAP_21
#arg TYPE
NEW#endarg
    {BIGMAP_10 TYPE=OLD}
    {{TYPE}_REST 1163 431}
#enddef

#define BIGMAP_22
#arg TYPE
NEW#endarg
    {BIGMAP_21 TYPE=OLD}
    {{TYPE}_BATTLE 1191 444}
#enddef

#define BIGMAP_23
#arg TYPE
NEW#endarg
    {BIGMAP_22 TYPE=OLD}
    {{TYPE}_BATTLE 1196 471}
#enddef

#define BIGMAP_24
#arg TYPE
NEW#endarg
    {BIGMAP_23 TYPE=OLD}
    {{TYPE}_REST 1196 471}
#enddef

#define BIGMAP_25
#arg TYPE
NEW#endarg
    {BIGMAP_24 TYPE=OLD}
    {{TYPE}_BATTLE 1168 477}
#enddef

#define BIGMAP_26
#arg TYPE
NEW#endarg
    {BIGMAP_25 TYPE=OLD}
    {{TYPE}_BATTLE 1168 477}
#enddef

#define BIGMAP_27
#arg TYPE
NEW#endarg
    {BIGMAP_26 TYPE=OLD}
    {{TYPE}_BATTLE 1187 500}
#enddef

#define BIGMAP_28
#arg TYPE
NEW#endarg
    {BIGMAP_27 TYPE=OLD}
    {{TYPE}_JOURNEY 1157 494}
    {{TYPE}_REST 1134 475}
#enddef

#define BIGMAP_29
#arg TYPE
NEW#endarg
    {BIGMAP_28 TYPE=OLD}
    {{TYPE}_BATTLE 1134 475}
#enddef

#define BIGMAP_30
#arg TYPE
NEW#endarg
    {BIGMAP_29 TYPE=OLD}
    {{TYPE}_REST 1134 475}
#enddef

#define BIGMAP_31
#arg TYPE
NEW#endarg
    {BIGMAP_30 TYPE=OLD}
    {{TYPE}_JOURNEY 1106 488}
    {{TYPE}_JOURNEY 1077 496}
    {{TYPE}_JOURNEY 1048 501}
    {{TYPE}_JOURNEY 1018 503}
    {{TYPE}_JOURNEY 989 510}
    {{TYPE}_JOURNEY 960 511}
    {{TYPE}_JOURNEY 934 521}
    {{TYPE}_REST 912 532}
#enddef